body {
  font-family: "Poppins", sans-serif;
}

.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.header {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  float: right;
  width: 88%;
}

.header span {
  font-family: "Poppins", sans-serif;
}

#live {
  color: #bf5700;
}

#logo {
  width: 400px;
}

table {
  border-spacing: 40px;
  width: 88%;
  float: right;
}

table.feedback_table {
  border-spacing: 20px;
  width: 50%;
  float: right;
  border: 0px solid black;
}

td {
  text-align: center;
  vertical-align: top;
}

.footer {
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 88%;
  float: right;
  margin: 1em;
}

.sidenav {
  height: 100%;
  width: 12%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #bf5700;
  overflow-x: hidden;
  padding-top: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidenav a {
  text-decoration: none;
  font-size: 1.25vw;
  color: white;
  display: block;
  margin: auto;
  padding-bottom: 0.5em;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav i {
  color: white;
}

.snecenter {
  width: 88%;
  float: right;
  margin: 1em;
}

.cal {
  position: center;
}

#spo {
  width:50%;
}

#sidenav-logo {
  width: 100%;
}

#home-link {
  padding-bottom: 0;
}

#contact-div {
  padding-bottom: 2em;
}

#creators {
  font-size: 200px;
  justify-content: space-between;
}

/* style elements for the austin music info page */
.res-circle {
  /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
  width: 20%;
  border-radius: 50%;

  /* (B) BACKGROUND COLOR */
  background: #ffdcbc;

  /* (C) NECESSARY TO POSITION TEXT BLOCK */
  line-height: 0;
  position: relative;
}

/* (D) MATCH HEIGHT */
.res-circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* (E) TEXT BLOCK */
.circle-txt {
  /* (E1) CENTER TEXT IN CIRCLE */
  position: absolute;
  bottom: 33%;
  width: 100%;
  text-align: center;

  /* (E2) THE FONT - NOT REALLY IMPORTANT */
  font-family: arial, sans-serif;
  font-weight: bold;
}

#info_body{padding-bottom: 1740px;}

/* stuff for the post a fact box */
table.submissions{
  border-spacing: 10px;
  width: 50vw;
  border: 0px solid;
  margin-bottom: 10px;
}
.left_col{
  text-align: right;
  width: 12vw;
  vertical-align: top;
  font-size: 15px;
}
.right_col{
  text-align: left;
  vertical-align: top;
}

.content{
  width: 22vw;
  height: 80px;
  border: 1px solid #000000;
  outline: 1px solid black;
  border-radius: 4px;
}
.content:focus{
  outline: 2px solid #bf5700;
  border-radius: 4px;
}
.name:focus,
.source:focus{
  outline: 2px solid #bf5700;
  border-radius: 4px;
  height: 20px;
  padding-left: 5px;
}

.name,.source{
  border-radius: 4px;
  border: 1px solid #000000;
  outline: 1px solid black;
  height: 20px;
  font-size: 15px;
  padding-left: 3px;
}
.name:hover,.source:hover,.content:hover {
  background-color : #fff4ea;
}

#post_clear{
  margin: 5px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
#post_submit{
  margin: 5px;
  padding: 10px;
}
.post_buttons{
  border: 0px solid black;
  text-align: left;
}
.poster_buttons:hover{
  background: #bf5700;
  border-radius: 5px;
  color: white;
  border: 2px solid #ffffff;
  text-align: left;
  transition: .3s;
  cursor:pointer;
}

.poster_buttons{
  background: #ffffff;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  border: 2px solid #000000;
  text-align: left;
}

.submitter {
  left: 34vw;
  top: 1260px;
  position: absolute;
  background-color: #ffdcbc
}

.post_header{
text-align: center;
}
.post_body{
text-align: left;
width: 100%;
}

#circle_span {
  line-height: normal;
  display: inline-block;
  vertical-align: bottom;
}

#circle_1 {
  position: absolute;
  left: 36vw;
  top: 120px;
}

#circle_2 {
  position: absolute;
  left: 58vw;
  top: 320px;
}

#circle_3 {
  position: absolute;
  left: 36vw;
  top: 520px;
}

#circle_4 {
  position: absolute;
  left: 58vw;
  top: 720px;
}

#circle_5 {
  position: absolute;
  left: 36vw;
  top: 920px;
}
/*-----------------------------------------------------*/
.grid {
  float: right;
  width: 86%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: stretch;
}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid > article img {
  max-width: 100%;
}

.text {
  padding: 0 20px 20px;
}

.card:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}

#feedback-form {
  float: right;
  width: 86%;
  display: grid;
  left: 15vw;
  position: relative;
}
.feedback_buttons{margin-left: 13vw;}


#submit,
#clear {
  font-family: "Poppins", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 16px;
  background-color: #bf5700;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 4px 2px;
  width: 20em;
  cursor: pointer;
}

.dev_pics {
  width: 1em;
  height: 1em;
}
